 @{
	Layout = "_Layout";
}

<form action="/hangman" method="post">
	<label for="letter">Letter:</label>
	<input id="letter" name="letter" type="text" pattern="[A-Za-z]{1}"> Please input just 1 letter
</form>