body {
	background-color: rgb(36, 36, 36);
	color: rgb(184, 184, 184);
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

pre {
	background-color: black;
	color: white;
	width: 75%;
	margin-left: 250px;
}

#correct {
	color: green;
}

#incorrect {
	color: red;
}

.win {
	border-style: solid;
	border-color: green;
}

.lose {
	border-style: solid;
	border-color: red;
}